.farm_card{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid black;
    margin: 1em auto;
    font-weight: 600;
    width: 70%;
}
.farm_location_price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:0;
    margin-bottom: 0.7em;
}
.farm_features{
    margin-top: 1em;
}
.farm_card ul{
    list-style-type: none;
}
.farm_location i{
    color: red;
}
.farm_price i,.farm_phone i{
    color: green;
}
.farm_features i{
    color: gold;
}
.farm_image img{
    width: 100%;
    height: 100%;
}
.farm_image{
    width: 50%;
}
.farm_data{
    margin-left: 1em;
}
.view_farm_btn{
    padding:0.5em;
    background-color: var(--p_footer);
    color: white;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
}
@media only screen and (max-width:800px) {
    .farm_card{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .view_farm_btn{
        width: 50%;
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    .farm_image{
        width: 90%;
    }
}